<a action="/sign_out" href="/sign_in">Sign Out</a>

<form method="POST" action="/new_blog" name>
  <input type="text" name="[post]title" placeholder="Title">
  <input type="text" name="[post]textfield" placeholder="Comments">
  <input type="submit">
</form>


<!--Google "Active Record order method" to order the posts in order-->



<div id="scroll">
<% @all_posts.reverse.each do |p| %>

<br/>
<div id="box">
<h3> <%= p.user.username %> </h3>
<h3> <%= p.title %> </h3>
<p> <%= p.textfield %> </p>
</div>
<% end %>

</div>




