<form method="POST" action="/update_first">
  <input type="text" placeholder="New First Name" name="[user]firstname">
  <input type="submit">
</form>

<br>

<form method="POST" action="/update_last">
  <input type="text" placeholder="New Last Name" name="[user]lastname">
  <input type="submit">
</form>

<br>

<form method="POST" action="/update_username">
  <input type="text" placeholder="New Username" name="[user]username">
  <input type="submit">
</form>

<br>

<form method="POST" action="/update_email">
  <input type="text" placeholder="New Email" name="[user]email">
  <input type="submit">
</form>

<br>

<form method="POST" action="/update_password">
  <input type="text" placeholder="New Password" name="[user]new_password">
  <input type="text" placeholder="Confirm New Password" name="confirm_new_password">
  <input type="submit">
</form>

<br><br><br>

<form method="POST" action="/delete">
<h1>Delete Account</h1>
<input type="submit">
</form>


