
<!-- sign in -->
<form method="POST" action="/sign-in">
  <input type="text" name="[user]username" placeholder="Username">
  <input type="password" name="[user]password" placeholder="Password">
  <input type="submit">
</form>



<!-- sign up -->
<form method="POST" action="/sign-up">
  <input type="text" name="[user]firstname" placeholder="First Name">
  <input type="text" name="[user]lastname" placeholder="Last Name">
  <input type="text" name="[user]username" placeholder="Username">
  <input type="text" name="[user]email" placeholder="Email">
  <input type="password" name="[user]password" placeholder="Password">
  <input type="password" name="confirm_password" placeholder="Confirm Password">
  <input type="submit">

</form>