/*LAYOUT*/
body {
  font-family: 'Poiret One', cursive;
  background-image: url(/moonwalk.jpg);
  background-size:   cover;                      
  background-repeat: no-repeat;
  background-position: center center; 
  top: 0; 
}

#nav {
  position: fixed;
  margin-top: 20%;
  
}
.navbar {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 22px;
  width: 80px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left: 12px;
} 

#nav a {
  text-decoration: none;
}

a:visited {
  color: white;
}

#title {
 color: white;
 text-align: center;
}

#wrapper {
 width: 45%;
 min-height: 600px;
 border-radius: 10%;
 background-color: white;
 color: black;
 margin: 0 auto;
 text-align: center;
 margin-top: 
}

/*HOME/FEED*/


#scroll {
 overflow-y: scroll; 
 height:450px;
 overflow: auto; 
}

#box {
 margin-top: 5%; 
 border-style: solid;
 border-color: black;
 margin-left: 35px;
 height: 120px;
 width: 85%;

}



/*SETTINGS PAGE*/



/*SIGN-IN and SIGN-UP*/